@import "../../styles/colors.module.scss";
@import "../../styles/typography.module.scss";
@import "../../styles/mixins.module.scss";

.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 1000;
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: $color-gray-3;

  @include viewport(mobile) {
    padding-top: 24px;
    padding-bottom: 12px;
  }

  &__content {
    display: flex;
    flex-direction: row;
    flex: 1 1;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    max-width: 1440px;
    padding: 0 96px;

    @include viewport(mobile) {
      flex-direction: column;
    }
  }

  &__logo {
    width: 56px;
    height: 56px;

    cursor: pointer;

    @include viewport(mobile) {
      width: 48px;
      height: 48px;
      margin-bottom: 12px;
    }
  }

  &__nav {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    width: clamp(680px, 680px, 680px);
    height: 56px;

    @include viewport(mobile) {
      width: clamp(100vw, 100vw, 100vw);
    }
  }
}

.nav {

  &__link {
    position: relative;
    padding-top: 12px;
    padding-bottom: 12px;

    @include text(body1);
    text-align: center;
    color: $color-light;
    opacity: 0.5;
    
    transition: all 0.5s ease-in-out;
    overflow: hidden;

    @include viewport(mobile) {
      @include text(body2);
    }

    &::before {
      position: absolute;
      bottom: 0;
      left: 0;
      content: '';
      display: flex;
      justify-content: center;
      width: 100%;
      height: 2px;
      background-color: $color-light;
      transition: all 0.5s ease-in-out;
      transform: translateX(-100%);
    }

    &:hover {

      & {
        opacity: 1;
      }

      &::before {
        transform: translateX(0px);
      }
    }
  }

}