@import "../../styles/colors.module.scss";
@import "../../styles/mixins.module.scss";

.avatar {
  position: relative;
  width: 160px;
  height: 160px;
  box-sizing: border-box;
  border: 4px solid transparent;
  border-radius: 50%;
  overflow: hidden;

  background: linear-gradient(to right, #ff0000, #ffa500) border-box;
}