@import "../../styles/colors.module.scss";
@import "../../styles/mixins.module.scss";

.profile {
  width: 300px;
  height: 300px;

  border: 10px solid $color-light;
  border-radius: 50%;

  overflow: hidden;

  @include viewport(mobile) {
    width: 150px;
    height: 150px;

    border-width: 5px;
  }
}