@import "../../styles/colors.module.scss";
@import "../../styles/mixins.module.scss";

.profile {
  position: relative;
  width: 300px;
  height: 300px;

  box-sizing: border-box;

  border: 10px solid transparent;
  border-radius: 50%;
  overflow: hidden;

  background: linear-gradient(to right, #ff0000, #ffa500) border-box;

  @include viewport(mobile) {
    width: 150px;
    height: 150px;

    border-width: 5px;
  }
}