@import "../../styles/colors.module.scss";
@import "../../styles/typography.module.scss";
@import "../../styles/mixins.module.scss";

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  animation: fadeIn 3s ease;
}

.tabpanel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;

  & > div {
    width: 100%;
  }
}

.content__illustration {
  width: 400px;
  height: 400px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}