@import "../../styles/colors.module.scss";
@import "../../styles/typography.module.scss";
@import "../../styles/mixins.module.scss";

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 160px;
  margin-bottom: 120px;
  margin-top: 24px;

  @include viewport(mobile) {
    padding-bottom: 80px;
    margin-bottom: 120px;
  }

  @include viewport(tablet) {
    padding-bottom: 80px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 160px 40px;
    border-radius: 16px;
    background-color: $color-darker;

    @include viewport(mobile) {
      max-width: 366px;
      overflow: hidden;
      padding: 40px 24px 80px 24px;
    }

    @include viewport(tablet) {
      padding: 40px 24px 80px 24px;
    }
  }

  &__illustration {
    padding-top: 80px;
    width: 25vw;
    height: 25vw;

    @include viewport(mobile) {
      width: 50vw;
      height: 50vw;
      padding-top: 40px;
    }

    @include viewport(tablet) {
      padding-top: 40px;
    }
  }

  &__title {
    margin: 8px 0 4px 0;
    @include text(h1);
    text-transform: uppercase;

    @include viewport(mobile) {
      @include text(h2);
    }
  }

  &__subtitle {
    color: $color-light;
    @include text(body1);
    margin: 0 0 8px 0;

    @include viewport(mobile) {
      .subtitle__optional {
        display: none;
      }
    }
  }

  &__bio {
    width: 60ch;
    margin-bottom: 56px;
    @include text(body2);

    text-align: center;
    color: $color-light;

    @include viewport(mobile) {
      width: 45ch;
      max-width: 100%;
      margin-bottom: 40px;
    }
  }

  &__technology {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 56px;
  }

  &__download_cv_button {
    @include button;
    background-color: $color-accent;
  }
}

.technology {
  &__text {
    margin-bottom: 24px;
    
    @include text(body2);
    color: $color-light;
  }
}
