@import "../../styles/colors.module.scss";
@import "../../styles/typography.module.scss";
@import "../../styles/mixins.module.scss";

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  margin-bottom: 240px;

  @include viewport(mobile) {
    margin-bottom: 160px;
  }

  &__title {
    margin: 32px 0 0 0;

    @include text(h1);

    text-transform: uppercase;

    @include viewport(mobile) {
      @include text(h3);
    }
  }

  &__subtitle {
    margin: 8px 0 24px 0;

    @include text(h5);

    @include viewport(mobile) {
      .subtitle__optional {
        display: none;
      }
    }
  }

  &__bio {
    width: 75ch;
    margin-bottom: 80px;

    @include text(body2);

    text-align: center;
    color: $color-gray-1;

    @include viewport(mobile) {
      width: 45ch;
      margin-bottom: 20px;
    }
  }

  &__illustration {
    width: 25vw;
    height: 25vw;

    @include viewport(mobile) {
      width: 240px;
      height: 240px;
    }
  }
}