@import "../../styles/typography.module.scss";
@import "../../styles/mixins.module.scss";

.skills {
  margin-bottom: 240px;

  &__title {
    @include text(h2);


    text-align: center;
    margin-bottom: 140px;

    @include viewport(tablet) {
      margin-bottom: 0;
    }

    @include viewport(mobile) {
      @include text(h4);
      margin-bottom: 0;
    }
  }

}

.content {
  display: flex;
  flex-direction: row;
  justify-content: center;

  @include viewport(mobile) {
    flex-direction: column-reverse;
    align-items: center;
  }

  &__illustration {
    width: 50vw;
    height: 50vw;
    margin-top: -120px;

    animation: rocking 2.5s ease-in-out infinite alternate;

    @include viewport(tablet) {
      margin: 0;
    }

    @include viewport(mobile) {
      width: 240px;
      height: 240px;
    }
  }

  &__technology {
    margin-left: -80px;
    margin-top: 100px;

    @include viewport(tablet) {
      margin-top: 120px;
    }

    @include viewport(mobile) {
      margin-top: 24px;
      margin-left: 0;
    }

    p {
      @include text(body2);

      margin-bottom: 48px;

      text-align: center;

      @include viewport(mobile) {
        margin-bottom: 36px;
      }
    }

    ul {
      display: grid;
      grid-template-columns: repeat(8, 36px);
      justify-content: space-between;
      row-gap: 24px;
      width: 560px;
      padding: 0;
      margin-top: 20px;

      list-style: none;

      @include viewport(mobile) {
        width: 100vw;
        padding: 0 36px;
        margin-bottom: 50px;
      }

      li {
        width: 36px;
        height: 36px;

        @include viewport(mobile) {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
}

@keyframes rocking {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(20deg);
  }
}