@import "../../styles/colors.module.scss";
@import "../../styles/typography.module.scss";
@import "../../styles/mixins.module.scss";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;

  &__social {
    display: flex;
    flex-direction: row;
    margin-bottom: 36px;
  }

  &__text {

    p {
      margin: 0;

      text-align: center;
      color: $color-gray-1;
    }
  }
}

.social__icon {
  width: 36px;
  height: 36px;

  cursor: pointer;

  &:first-child {
    margin-right: 18px;
  }

  &:last-child {
    margin-left: 18px;
  }
}

.text {
  &__info, &__credit, &__copyright {
    @include text(body2);
    padding: 4px;
  }

  &__credit {
    cursor: pointer;
  }
}