@import "../../styles/colors.module.scss";
@import "../../styles/typography.module.scss";
@import "../../styles/mixins.module.scss";

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 160px;
  margin-bottom: 120px;
  margin-top: 24px;

  @include viewport(mobile) {
    padding-bottom: 80px;
    margin-bottom: 80px;
  }

  @include viewport(tablet) {
    padding-bottom: 80px;
  }

  &__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 40px 160px 40px;
    border-radius: 16px;
    background-color: $color-darker;

    @include viewport(mobile) {
      max-width: 366px;
      overflow: hidden;
      padding: 40px 24px 80px 24px;
    }

    @include viewport(tablet) {
      padding: 40px 24px 80px 24px;
    }
  }

  &__divider {
    width: 100%;
    color: $color-darker;
    background-color: $color-darker;
    border-color: $color-dark;
    opacity: 0.3;
    margin-top: 48px;
    margin-bottom: 48px;
  }

  &__social_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

    @include viewport(mobile) {
      flex-direction: column;
    }

    @include viewport(tablet) {
      flex-direction: column;
    }

    & > a {
      @include button;
    }

    & > a:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 16px;

      @include viewport(mobile) {
        margin-bottom: 16px;
        margin-right: 0px;
      }

      @include viewport(tablet) {
        margin-bottom: 16px;
        margin-right: 0px;
      }
    }
  }

  &__social_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
  }

  &__illustration {
    padding-top: 80px;
    width: 25vw;
    height: 25vw;

    @include viewport(mobile) {
      width: 50vw;
      height: 50vw;
      padding-top: 40px;
    }

    @include viewport(tablet) {
      padding-top: 40px;
    }
  }

  &__title {
    width: 100%;
    @include text(h2);
    text-align: left;
    margin: 0 0 24px 0;

    @include viewport(mobile) {
      @include text(h2);
    }
  }

  &__form_container {
    max-width: 100%;
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 560px;
  max-width: 100%;

  @include viewport(mobile) {
    width: calc(100vw - 80px);
  }

  & > *:not(:last-child) {
    margin-bottom: 16px;
  }

  & input {
    height: 48px;
    padding-left: 12px;
    border: 0;
    border-radius: 8px;
    outline: 0;
    background-color: $color-dark;

    @include text(body1);
    color: $color-lightest;
  }

  & textarea {
    height: 160px;
    padding: 12px;
    border: 0;
    border-radius: 8px;
    outline: 0;
    resize: none;
    background-color: $color-dark;

    @include text(body1);
    color: $color-lightest;
  }

  &__submit_button_container {
    display: flex;
    justify-content: flex-end;

    & > button > span {
      margin-right: 8px;
    }

    & button {
      @include button;
      background-color: $color-accent;
    }
  }
}
