$color-accent: #3076FF;
$color-darkest: #1E1E1E;
$color-darker: #262626;
$color-dark: #2E2E2E;
$color-gray-3: #D40000;
$color-gray-2: #D40000;
$color-gray-1: #D40000;
$color-light: #CCCCCC;
$color-lightest: #FFFFFF;

