@import './colors.module.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;

  color: $color-light;
  background: $color-dark;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $color-light;
    background: $color-dark;
  }
}
