@import './colors.module.scss';

html {
  scroll-behavior: smooth !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif !important;

  color: $color-lightest;
  background: $color-darkest;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: $color-lightest;
    background: $color-darkest;
  }
}

// =========================================

/* Hide the scrollbar track */
::-webkit-scrollbar {
  display: none;
}

* {
  scrollbar-width: none;
}
