html {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
}

*, *::before, *::after {
    box-sizing: inherit;
}

/*              head section            */



/*              body section            */



/* about */



/* project */

/*              footer section            */

