body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

li.programming-language {
    font-size: 12px;
    font-family: 'Fira Mono', monospace;
}